<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--Необходимые мета теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap стили CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body" style="margin-top: 45px">
                <h5 class="card-title">Login with Username and Password</h5>
                <p class="card-text"></p>

                <div th:if="${param.error}" style="color: red">
                    <div class="alert alert-danger" role="alert">Invalid Username or Password</div>
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('logout')}" th:errors="*{logout}">
                    <div class="alert alert-info" role="alert">You've been logged out successfully</div>
                </div>

                <form name="f" method="post" action="/login">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
                    </div>
                    <input type="submit" class="card-link" value="Log in!"/>
                    <a class="card-link" href="/registration">Registration</a>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>