<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="nm">Имя :</label>
    <input id="nm" type="text" th:field="*{username}">
    <br>
    <label for="lstnm">Фамилия :</label>
    <input id="lstnm" type="text" th:field="*{secondName}">
    <br>
    <label for="eml">email :</label>
    <input id="eml" type="text" th:field="*{email}">
    <br>
    <label for="pswrd">password :</label>
    <input id="pswrd" type="text" th:field="*{password}">
    <br>

    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${roleList}"
                   th:text="${role.getTrimName()}"
                   th:value="${role.getRole()}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Создать!">
</form>
<br>
<form action="/logout">
    <button>Logout</button>
</form>
</body>
</html>